__pycache__/main.cpython-38.pyc
__pycache__/Particle_filter.cpython-38.pyc
__pycache__/Partucle_filter.cpython-38.pyc
__pycache__/Robot.cpython-38.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/spline.cpython-38.pyc
__pycache__/visualisation.cpython-38.pyc
__pycache__/visualization.cpython-38.pyc
__pycache__/Partucle_filter.cpython-38.pyc
__pycache__/Robot.cpython-38.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/spline.cpython-38.pyc
__pycache__/visualisation.cpython-38.pyc
BIG_ERRORS
BIG_ERRORS1
tests/1/mult/0.1/curve/2000
tests/1/mult/0.1/curve/2100
tests/1/mult/0.1/eight/2000
tests/1/mult/0.1/eight/2100
tests/1/mult/0.1/speed1/2000
tests/1/mult/0.1/speed2/2000
tests/1/mult/0.2/curve/2000
tests/1/mult/0.2/curve/2100
tests/1/mult/0.2/eight/2000
tests/1/mult/0.2/eight/2100
tests/1/strat/0.1/curve/2000
tests/1/strat/0.1/curve/2100
tests/1/strat/0.1/eight/2000
tests/1/strat/0.1/eight/2100
tests/1/strat/0.1/speed1/2000
tests/1/strat/0.1/speed2/2000
tests/1/strat/0.2/curve/2000
tests/1/strat/0.2/curve/2100
tests/1/strat/0.2/eight/2000
tests/1/strat/0.2/eight/2100
tests/1/syst/0.1/curve/2000
tests/1/syst/0.1/curve/2100
tests/1/syst/0.1/eight/2000
tests/1/syst/0.1/eight/2100
tests/1/syst/0.1/speed1/2000
tests/1/syst/0.1/speed2/2000
tests/1/syst/0.2/curve/2000
tests/1/syst/0.2/curve/2100
tests/1/syst/0.2/eight/2000
tests/1/syst/0.2/eight/2100
__pycache__/main.cpython-310.pyc
__pycache__/Particle_filter.cpython-310.pyc
__pycache__/Partucle_filter.cpython-38.pyc
__pycache__/Robot.cpython-38.pyc
__pycache__/Robot.cpython-310.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/spline.cpython-38.pyc
__pycache__/spline.cpython-310.pyc
__pycache__/tools.cpython-38.pyc
__pycache__/tools.cpython-310.pyc
__pycache__/visualisation.cpython-38.pyc
__pycache__/visualization.cpython-310.pyc
__pycache__/Partucle_filter.cpython-38.pyc
__pycache__/Robot.cpython-38.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/spline.cpython-38.pyc
__pycache__/tools.cpython-38.pyc
__pycache__/visualisation.cpython-38.pyc
BIG_ERRORS2
